<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <!-- Required by the live readouts: BODY_SENSORS for [HEART_RATE],
         ACTIVITY_RECOGNITION for [STEP_COUNT]. Nothing else. -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:label="MERIDIAN HERITAGE"
        android:icon="@drawable/preview"
        android:hasCode="false">

        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="@integer/wff_version" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>
</manifest>
